.splide__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 1024px;
    height: 650px;
}
.splide__slide{
    display: flex;
    justify-content: center;
}
/* .splide__pagination__page{
    margin-top: 1000px;
} */