.splide__list  {
    
    width: 1024px;
    height: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 1024px;
}

/* .splide__pagination__page{
    margin-top: 1000px;
} */